@charset "Shift_JIS";
/* ペジのレイアウト用CSS */

#contents {
background-repeat:no-repeat;
margin-top:0px;
margin-left:auto;
margin-bottom:0px;
margin-right:auto;
padding-top:0px;
border-top-color:white;
border-top-style:solid;
border-top-width:0px;
border-left-color:white;
border-left-style:solid;
border-left-width:0px;
border-right-color:white;
border-right-style:solid;
border-right-width:0px;
width:862px
}
#main {
		float : right;
		margin-left : 0px;
		padding-right:10px;
		background-repeat : repeat-y;
		margin-top : 0px;
		width : 630px;
		clear : none;
}
#box {
		margin-left : 0px;
		color : black;
		padding-right : 0px;
		margin-right : 0px;
		background-color : white;
		padding-left : 10px;
		margin-top : 0px;
		clear : none;
}
#side {
		float : left;
		width : 220px;
		margin-right : 0px;
		padding-left : 0px;
		margin-left : 0px;
		padding-right : 0px;
		padding-top : 5px;
		clear : none;
		bottom : auto;
}
#about h4{
		background-image : url(../images/about_back.gif);
		background-repeat : repeat-x;
		height : 15px;
		padding-top : 7px;
		padding-left : 15px;
		padding-right : 5px;
		padding-bottom : 5px;
		border-left-width : 5px;
		border-left-style : solid;
		border-left-color : green;
		margin-bottom : 10px;
		margin-top : 0px;
}
p{
		font-size : 100%;
		line-height : 140%;
		color : #3d3d3d;
}
#about p{
		padding-top : 0px;
		padding-left : 10px;
		padding-right : 10px;
		padding-bottom : 5px;
		margin-top : 0px;
}
#about{
		margin-top : 10px;
		margin-left : 0px;
		margin-right : 0px;
		margin-bottom : 0px;
		background-color : #f7fff7;
}
.t001{
		margin-left : 30px;
		background-color : #cccccc;
		width : 120px;
}
#tprofile td{
		padding-top : 5px;
		padding-left : 10px;
		padding-right : 3px;
		padding-bottom : 5px;
		border-width : 1px 1px 1px 1px;
		border-style : solid solid solid solid;
		border-color : gray gray gray gray;
		border-collapse : collapse;
}
#tprofile{
		width : 510px;
		border-collapse : collapse;
		font-size : 15px;
		margin-left : 15px;
}

#kojin{
		margin-top : 10px;
		margin-left : 5px;
		margin-right : 5px;
		margin-bottom : 10px;
		border-width : 1px 1px 1px 1px;
		border-style : dotted dotted dotted dotted;
		border-color : green green green green;
		padding-top : 10px;
		padding-left : 10px;
		padding-right : 10px;
		padding-bottom : 10px;
		font-size : 15px;
		line-height : 140%;
}
.t002{
		background-color : #e7e7e7;
		width : 200px;
}
#news{
		font-size : 90%;
		line-height : 140%;
		padding-bottom : 10px;
}
#news li{
margin-top:5px;
margin-left:-25px;
margin-bottom:5px;
padding-top:5px;
padding-bottom:5px;
border-bottom-color:blue;
border-bottom-style:dotted;
border-bottom-width:1px;
list-style:none
}

#news span{
color:blue;
font-family:sans-serif;
font-size:90%;
border-left-color:blue;
border-left-style:solid;
border-left-width:3px
}

#news a{
		color : #0080ff;
		text-decoration : underline;
}
#oiwaikin{
line-height:170%;
margin-left:15px;
margin-bottom:20px;
margin-right:15px;
padding-top:10px;
padding-left:8px;
padding-bottom:10px;
padding-right:2px;
border-color:#009900;
border-style:solid
}
#oiwaikin a{
		color : #0080ff;
		text-decoration : underline;
}
#oiwaikin a:hover{
  color : navy;
  text-decoration : underline;
}
#oiwaikin b{
		color : #ff0000;
		font-size : 110%;
}

#houshin_message{
		background-image : url(../images/kohon_houshin.gif);
		background-repeat : no-repeat;
		height : 443px;
}
#houshin_message ul{
		margin-top : 70px;
		margin-left : 0px;
		list-style-type : decimal;
		bottom : auto;
		font-size : 19px;
		padding-left : 100px;
		width : 420px;
}
#houshin_message li{
		margin-top : 10px;
		list-style-type : decimal;
		padding-left : 0px;
		margin-left : 0px;
		bottom : auto;
}
#houshin_message_p{
		padding-left : 10px;
		padding-right : 10px;
}
#timetable{
		border-width : 2px 2px 2px 2px;
		border-style : solid solid solid solid;
		border-color : #6fb7ff #6fb7ff #6fb7ff #6fb7ff;
		border-collapse : collapse;
		empty-cells : show;
}
.t-table{
		font-size : 25px;
		font-weight : bolder;
		color : white;
		background-color : #62b0ff;
		text-align : center;
		padding-top : 10px;
		padding-bottom : 10px;
		letter-spacing : 10px;
}
.stop{
		font-size : 22px;
		font-weight : bold;
		color : #373737;
		text-align : center;
		padding-top : 10px;
		padding-bottom : 10px;
		width : 200px;
}
.time{
		font-size : 16px;
		color : teal;
		text-align : center;
		padding-top : 10px;
		width : 50px;
		font-weight : bold;
		background-color : #ffffd2;
		border-left-width : 1px;
		border-left-style : dashed;
		border-left-color : #62b0ff;
		border-right-width : 1px;
		border-right-style : dashed;
		border-right-color : #62b0ff;
		border-bottom-width : 1px;
		border-bottom-style : dashed;
		border-bottom-color : #62b0ff;
		border-top-width : 1px;
		border-top-style : dashed;
		border-top-color : #62b0ff;
}
.start{
		font-size : 18px;
		color : maroon;
		text-align : center;
		padding-top : 10px;
		font-weight : bolder;
		background-color : #ffffd2;
		padding-bottom : 5px;
		border-bottom-width : 1px;
		border-bottom-style : dashed;
		border-bottom-color : #62b0ff;
		border-top-width : 1px;
		border-top-style : dashed;
		border-top-color : #62b0ff;
}
.time01{
		font-size : 16px;
		color : navy;
		text-align : center;
		padding-top : 5px;
		padding-bottom : 5px;
		background-color : #ffffd2;
		font-weight : bold;
		border-left-width : 1px;
		border-left-style : dashed;
		border-left-color : #62b0ff;
		border-right-width : 1px;
		border-right-style : dashed;
		border-right-color : #62b0ff;
}
.start01{
		color : #373737;
		text-align : center;
		padding-top : 5px;
		padding-bottom : 5px;
		background-color : #ffffd2;
		font-size : 16px;
		font-weight : bold;
}
.start02{
		color : #373737;
		background-color : #d0e8e8;
		text-align : center;
		padding-top : 5px;
		padding-bottom : 5px;
		font-size : 16px;
		font-weight : bold;
}
.time02{
		font-size : 16px;
		color : #373737;
		text-align : center;
		padding-top : 5px;
		padding-bottom : 5px;
		background-color : #d0e8e8;
		font-weight : bold;
		border-left-width : 1px;
		border-left-style : dashed;
		border-left-color : #62b0ff;
		border-right-width : 1px;
		border-right-style : dashed;
		border-right-color : #62b0ff;
}
.l-table{
		font-size : 16px;
		color : #373737;
		text-align : left;
		padding-top : 10px;
		padding-left : 10px;
		padding-right : 10px;
		padding-bottom : 10px;
		border-top-width : 2px;
		border-top-style : solid;
		border-top-color : #62b0ff;
}
#access{
		text-align : center;
}
#tkoutuu{
		padding-top : 0px;
		padding-left : 10px;
		padding-right : 10px;
		padding-bottom : 10px;
		margin-top : 10px;
		color : #313131;
		background-color : #f0f0e1;
		font-size : 90%;
		width : 500px;
}
#shinryou h5{
		font-size : 120%;
		border-bottom-width : 1px;
		border-bottom-style : solid;
		border-bottom-color : green;
		padding-left : 10px;
		padding-bottom : 2px;
		border-left-width : 5px;
		border-left-style : solid;
		border-left-color : green;
}
.tkamoku td{
		padding-top : 10px;
		padding-left : 5px;
		padding-right : 5px;
		padding-bottom : 5px;
		vertical-align : top;
		font-size : 100%;
}
h6{
		font-size : 130%;
}
#tkango li{
		list-style-type : decimal;
		font-size : 90%;
		color : black;
		line-height : 130%;
}
#side h5{
		margin-top : 0px;
		margin-left : 0px;
		margin-right : 0px;
		margin-bottom : 0px;
}
#gaiyou{
		margin-top : 15px;
		padding-left : 15px;
		padding-right : 15px;
}
#gaiyou p{
line-height:150%;
}

#enkaku{
		margin-left : 220px;
}

#kangobu{
		margin-top : 15px;
		padding-left : 15px;
		padding-right : 15px;
}
#kangobu p{
		line-height:150%;
}

#kangobu li{
		line-height:150%;
		color : #3d3d3d;
}

#kangobu h6{
color:#3d3d3d;
line-height:150%;
margin-left:40px
}

.right{
text-align:right;
padding-right:10px
}

#kenri{
		background-image : url(../images/kenri.gif);
		background-repeat : no-repeat;
		width : 607px;
		height : 437px;
		text-align : left;
		padding-top : 20px;
		padding-left : 20px;
		padding-right : 20px;
		padding-bottom : 20px;
}
#kenri h3{
font-family:cursive;
font-size:140%;
text-align:center
}
#kenri li{
		list-style-type : decimal;
		font-size : 110%;
		padding-top : 5px;
}
#kenri2{
		width : 580px;
		text-align : left;
		padding-top : 20px;
		padding-left : 10px;
		padding-right : 10px;
		padding-bottom : 20px;
}
#kenri2 li{
		list-style-type : decimal;
		font-size : 100%;
		padding-top : 5px;
}
#kenri2 a{
		color : #0080ff;
		text-decoration : underline;
}
#kenri2 a:hover{
  color : navy;
  text-decoration : underline;
}

#kouhou{
		width : 607px;
		text-align : left;
		padding-left : 20px;
		padding-right : 20px;
		padding-bottom : 20px;
}

#kouhou li{
font-size:120%;
line-height:200%;
margin-left:120px;
list-style-type:none
}

#kouhou li a:hover{
  color : #0080c0;
  background-repeat : repeat-x;
  text-decoration : underline;
}

#kouhou2{
		width : 607px;
		text-align : left;
		padding-left : 20px;
		padding-right : 20px;
		padding-bottom : 20px;
}

#kouhou2 li{
font-size:120%;
line-height:200%;
list-style-type:disc
}

#kouhou2 li a:hover{
  color : #0080c0;
  background-repeat : repeat-x;
  text-decoration : underline;
}


#recruit{
		padding-top : 10px;
		padding-left : 30px;
		padding-right : 30px;
		padding-bottom : 20px;
		line-height : 170%;
}

#recruit a{
		font-size:120%;
}

#recruit b{
		font-size:120%;
		color : #666666;
}


#recruit a:hover{
  color : navy;
  text-decoration : underline;
}



#recruit h3{
		font-size : 180%;
		color : navy;
}
#recruit h4{
		color : #006a00;
		background-image : url(../images/recurit_back.gif);
		background-repeat : no-repeat;
		margin-top : 0px;
		margin-left : 0px;
		margin-right : 0px;
		margin-bottom : 0px;
		padding-left : 20px;
		padding-top : 5px;
		padding-bottom : 5px;
		border-left-width : 5px;
		border-left-style : solid;
		border-left-color : green;
}
#tantou{
		padding-top : 10px;
		padding-left : 10px;
		padding-right : 5px;
		padding-bottom : 10px;
}
#tantou h4{
		margin-top : 10px;
		margin-left : 0px;
		margin-right : 0px;
		margin-bottom : 10px;
		padding-top : 5px;
		padding-left : 5px;
		padding-right : 5px;
		padding-bottom : 5px;
		border-width : 1px 3px 3px 1px;
		border-style : solid solid solid solid;
		border-color : green green green green;
}
.magenta{
		border-left-width : 5px;
		border-bottom-width : 1px;
		border-left-style : solid;
		border-bottom-style : solid;
		border-left-color : #cc00cc;
		border-bottom-color : #cc00cc;
		padding-top : 3px;
		padding-left : 10px;
		padding-bottom : 3px;
		font-size : 120%;
		font-weight : bold;
}

#access h5{
		font-size : 95%;
		color : navy;
		text-align : left;
		padding-top : 5px;
		padding-left : 50px;
		padding-right : 5px;
		padding-bottom : 5px;
}
.koutuu01{
		padding-top : 5px;
		padding-left : 5px;
		padding-bottom : 5px;
}
.floorguid{
		float : left;
}
#kyukyu h3{
		font-size : 130%;
		font-weight : bolder;
		color : #00aa55;
		padding-top : 10px;
		padding-left : 10px;
		padding-right : 10px;
		padding-bottom : 10px;
}
#kyukyu h4{
		font-size : 110%;
		font-weight : bold;
		color : #0066cc;
}
#kyukyu p{
		font-size : 90%;
		padding-left : 10px;
}

#kyukyu li{
		line-height:150%;
		margin-left:30px;
		margin-right:30px
}

#kyukyu_end{
		margin-top : 30px;
		padding-top : 20px;
}
#section{
		clear : both;
		margin-top : 0px;
		margin-left : 0px;
		margin-right : 0px;
		margin-bottom : 0px;
}
#footer{
		clear : both;
		border-top-width : 1px;
		border-top-style : solid;
		border-top-color : silver;
		width : 860px;
		height : 50px;
		padding-top : 10px;
		margin-top : 10px;
}
#footer li{
		float : left;
		list-style-type : none;
		font-size : 80%;
		padding-right : 10px;
}
#service{
		text-align : left;
		width : 400px;
		background-color : #ffccff;
		bottom : auto;
}
#service td{
		padding-left : 80px;
}
.blue{
		font-size : 16px;
		font-weight : bold;
		color : blue;
		padding-left : 20px;
}
#sitemap{
		padding-top : 10px;
		padding-left : 10px;
		padding-right : 10px;
		padding-bottom : 10px;
}
#sitemap li{
		padding-top : 5px;
		padding-bottom : 5px;
}
#policy{
		padding-top : 15px;
		padding-left : 15px;
		padding-right : 15px;
		padding-bottom : 15px;
}
#policy h4{
		font-size : 100%;
		color : black;
}
#gaiyou_detail{
		width : 550px;
}
#print{
		width : 700px;
		background-color : white;
}

#toiawasesaki{
color:blue;
font-size:100%;
font-weight:bold;
margin-left:20px
}



#toiawasesaki a{
		color : #0080ff;
}

#gooubo{
color:#ff0000;
background-color:mistyrose;
background-repeat:no-repeat;
font-size:120%;
font-weight:bold;
margin-top:0px;
margin-left:10px;
margin-bottom:0px;
margin-right:30px;
padding-top:5px;
padding-left:10px;
padding-bottom:5px;
border-left-color:red;
border-left-style:solid;
border-left-width:5px
}

#sanka {
color:#ff1493;
font-size:120%;
font-weight:bold
}

.test table{
color:#3d3d3d;
font-size:100%;
border-collapse:collapse
}

.test td{
padding-top:5px;
padding-left:7px;
padding-bottom:5px;
padding-right:5px;
border-color:#87cefa;
border-style:solid;
border-width:thin
}

.test ul{
margin-top:5px;
margin-left:30px;
padding:0px;
width:500px
}

.test li{
margin:3px;
padding:0;
width:160px;
float:left;
}

.tyuu {
color : #3d3d3d;
font-size:80%;
padding-left:10px
}

.maintop {
		color : #006a00;
background-image:url(../images/header_line2.gif);
background-repeat:no-repeat;
font-size:160%;
font-weight:bold;
line-height:38px;
text-align:left;
padding-left:20px;
width:607px;
height:38px
}

.menkai table{
margin-top:30px;
margin-left:40px;
margin-bottom:40px;
border-color:#a9a9a9;
border-style:solid;
border-width:1px;
border-collapse:collapse
}

.menkai td{
padding:20px;
border-color:#a9a9a9;
border-style:solid;
border-width:1px
}

#rtel{
color:#cc0066;
font-size:200%;
font-weight:bold;
margin-top:10px;
margin-left:300px
}

#rtel img{
vertical-align:middle;
}

#ndc a{
		color : #0080ff;
		text-decoration : underline;
}

#jidou {
font-size:90%;
padding-left:20px
}

#monsin{
line-height:170%;
margin-left:15px;
margin-bottom:20px;
margin-right:15px;
padding-top:10px;
padding-left:30px;
padding-bottom:10px;
padding-right:2px;
border-color:#ffacc1;
border-style:solid;
font-size : 90%;
}
#monsin a{
		color : #0080ff;
		text-decoration : underline;
}
#monsin a:hover{
  color : navy;
  text-decoration : underline;
}
#monsin b{
		color : #009900;
font-size : 110%;
}

#sisin a{
		color : #0080ff;
		text-decoration : underline;
}
#sisin a:hover{
  color : navy;
  text-decoration : underline;
}

#dock{
		margin-top : 15px;
		padding-left : 10px;
		padding-right : 10px;
}
#dock h4{
		font-size : 110%;
		color : black;
		margin : 0px;
		padding :0px;
		line-height : 150%;
}
#dock a{
		color : #0080ff;
		text-decoration : underline;
		font-size : 110%;
}
#dock a:hover{
  color : navy;
  text-decoration : underline;
}
#webyoyaku{
font-size:90%;
width : 180px;
line-height:170%;
margin-left:15px;
margin-bottom:20px;
margin-right:15px;
padding-top:10px;
padding-left:30px;
padding-bottom:10px;
padding-right:2px;
border-color:#ffacc1;
border-style:solid
}
#webyoyaku a{
		color : #0080ff;
		text-decoration : underline;
}
#webyoyaku a:hover{
  color : navy;
  text-decoration : underline;
}
#webyoyaku b{
		color : #009900;
font-size : 110%;
}
.test2 table{
color:#3d3d3d;
font-size:100%;
border-collapse:collapse
}

.test2 td{
text-align:center;
padding-top:5px;
padding-left:15px;
padding-bottom:5px;
padding-right:20px;
border-color:#87cefa;
border-style:solid;
border-width:thin
}

