<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ja" xml:lang="ja" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Language" content="ja" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
%COOKIE%
<title>管理メニュー</title>
<link href="%IMAGE_URL%/default.css" type="text/css" rel="stylesheet" />
<link href="%IMAGE_URL%/table.css" type="text/css" rel="stylesheet" />
</head>
<body>
<h1>自アクセス制限設定</h1>
<p>%message%</p>
<hr />
%COPYRIGHT%
</body>
</html>