<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ja" xml:lang="ja" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Language" content="ja" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="robots" content="noindex" />
<title>%COPYRIGHT%</title>
<link href="%IMAGE_URL%/default.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="%IMAGE_URL%/dom.js"></script>
<script type="text/javascript" src="%IMAGE_URL%/logon.js"></script>
</head>
<body>
<h1>高機能アクセス解析CGI Professional版 ログオン</h1>
<div class="error">%error%</div>
<form action="%CGI_URL%" method="post" target="_top">
  <input type="hidden" name="action" value="logon" />
  ログオンパスワード：<input type="password" name="PASS" id="PASS" size="20" value="" />
  <input type="submit" name="b1" value="ログオン" />
</form>
<hr />
<div>%COPYRIGHT4%</div>
</body>
</html>