<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ja" xml:lang="ja" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Language" content="ja" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>%COPYRIGHT%</title>
<link href="%IMAGE_URL%/default.css" type="text/css" rel="stylesheet" />
<link href="%IMAGE_URL%/setup.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="%IMAGE_URL%/dom.js"></script>
<script type="text/javascript" src="%IMAGE_URL%/setup.js"></script>
</head>
<body>
<!-- ヘッダー start -->
<div id="headbox">
<h1>%COPYRIGHT% 初期セットアップ</h1>
</div>
<!-- ヘッダー end -->
<div id="mainbox">
<!-- 左フレーム start -->
<div id="leftbox">
<p>%COPYRIGHT%の初期セットアップを始めます。画面の指示に従ってセットアップを進めて下さい。</p>
<h2>■ イメージディレクトリURLの設定</h2>
<p>この画面に色が付いていますか？ もし白黒の画面でしたら、イメージディレクトリURLを設定しなければいけません。</p>
<p>色が付いていない場合、ご利用のサーバが、cgi-binといった特定のディレクトリでないとCGIが動作しない環境となっている場合が想定されます。
このようなディレクトリ内では、画像ファイル等のようなCGIファイル以外のファイルにアクセスすることができません。
この場合、accディレクトリ内にあるimagesディレクトリを、通常のHTMLファイルを設置する場所にアップロードししてください。
そして、新たにアップロードされたimagesディレクトリのURLを、ここで定義してください。</p>
<p>URLの設定は、accディレクトリ内からみた相対URLか、もしくは http:// から指定してください。また最後にスラッシュを入れないでください。入力したら「設定」ボタンを押してください。</p>
<div class="error">%error%</div>
<form method="post" action="%CGI_URL%">
  <input type="hidden" name="m" value="p1" />
  イメージディレクトリURL ： <input type="text" name="IMAGE_URL" value="%IMAGE_URL%" id="IMAGE_URL" size="50" />
  <input type="submit" value="設定" name="B1" />
</form>
<p>もしこの画面に色が付いていれば次の画面に進んでください。</p>
<form method="post" action="%CGI_URL%">
  <input type="hidden" name="m" value="p2" />
  <input type="submit" value="次へ" name="B1" />
</form>
</div>
<!-- 左フレーム end -->
<!-- 右フレーム start -->
<div id="rightbox">
<div id="stepbox">
  <div class="step target">
    <div class="steptitle">Step 1</div>
    <div class="stepdesc">イメージディレクトリURLの設定</div>
  </div>
  <div class="step">
    <div class="steptitle">Step 2</div>
    <div class="stepdesc">CGI設置診断セットアップ</div>
  </div>
  <div class="step">
    <div class="steptitle">Step 3</div>
    <div class="stepdesc">ログオンパスワードの設定</div>
  </div>
  <div class="step">
    <div class="steptitle">Step 4</div>
    <div class="stepdesc">管理者用パスワードの設定</div>
  </div>
  <div class="step">
    <div class="steptitle">セットアップ完了</div>
  </div>
</div>
</div>
<!-- 右フレーム end -->
</div>
<!-- フッター start -->
<div id="footbox">
<hr />
%COPYRIGHT2%
</div>
<!-- フッター end -->
</body>
</html>