@charset "utf-8";

/* ==========================================

  “Voice” CSS
		
========================================== */




/* Main Content
========================================== */

#voiceCard				{	padding-top:10px;}
#voiceCard li			{	border:1px solid #e5e5e5; background:#fdf9f0; line-height:1.6; font-size:1.8em; 
							padding:10px 20px 10px 50px; margin:0 0 25px 0;
							position:relative;}
#voiceCard li:before	{	font-family: 'Glyphter';
							font-style: normal;
							font-weight: normal;
							line-height: 1;
							-webkit-font-smoothing: antialiased;
							-moz-osx-font-smoothing: grayscale;
							content:"G";
							
							display:block;
							position:absolute; top:-17px; left:-5px;
							font-size:2.3em; color:#cfd7dc;}




