	.style1	{
		background-color:#EAEAEA;
		border-top:#FFFFFF 1px solid;
		border-bottom:#777777 1px solid;
	}
	.style2	{
		background-color:#D4D0C8;
		border-top:#FFFFFF 1px solid;
		border-bottom:#777777 1px solid;
	}
